<div class="nav_main_flex">
  <%= render "shared/navigator" %>

  <main>
    <%= render "devise/shared/flash" %>
    <h2>プロフィール <%#= resource_name.to_s.humanize %></h2>
    <% if current_user.image? %>
      <p><%= image_tag current_user.image.to_s, class: "user_icon" %></p>
    <% else %>
      <p><%= image_tag 'default.png', class: "user_icon" %></p>
    <% end %>

    <%= form_with model: resource, url: registration_path(resource_name), class: "edit_user", id: "edit_user" do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :image %><br />
        <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "form_field" %>
      </div>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form_field" %>
      </div>

      <div class="field">
        <%= f.label :introduction %><br />
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction", class: "form_area" %>
      </div>

      <div class="actions">
        <p><%= f.submit "更新", class: "submit_but"%></p>
      </div>
    <% end %>

    <p><%= link_to "戻る", :back %></p>
  </main>
</div>
